<div class="team-display" 
    fxLayoutAlign="center center"
    fxLayout="column"
    fxLayoutGap="8px">
    <summoner-tile
        *ngFor="let summonerInfo of summonerInfos"
        [summonerInfo]="summonerInfo"
        [blueTeam]="teamPosition === 'right'">
    </summoner-tile>
    <span class="bans-text">BANS</span>
    <div
        cdkDropList 
        (cdkDropListDropped)="drop($event)"
        fxLayoutAlign="center center"
        fxLayout="column"
        fxLayoutGap="8px">
        <summoner-tile
            *ngFor="let summonerInfo of summonerInfos"
            [summonerInfo]="summonerInfo"
            [blueTeam]="teamPosition === 'right'"
            cdkDrag>
        </summoner-tile>
        <span class="bans-text">BANS</span>
        <banned-display
          [bannedChampions]="bannedChampions">
        </banned-display>
    </div>
</div>
