<div class="team-display" 
    fxLayoutAlign="center center"
    fxLayout="column"
    fxLayoutGap="8px">
    <summoner-tile
        *ngFor="let summonerInfo of summonerInfos"
        [summonerInfo]="summonerInfo"
        [blueTeam]="teamPosition === 'right'">
    </summoner-tile>
    <span class="bans-text">BANS</span>
    <div
    fxLayout="row"
    fxLayoutGap="4px">
        <img
            *ngFor="let bannedChampion of bannedChampions"
            class="banned-champion-icon"
            [src]="bannedChampion.championIcon"
            [alt]="bannedChampion.championName" />
    </div>
</div>
