:host {
  .team-display {
    padding: 12px;
    background-color: grey;
    .bans-text {
      font-weight: 600;
    }
    div {
      .banned-champion-icon {
        height: 71px;
        width: 71px;
      }
    }
  }
}
