
:host{
    .summoner-info{
        padding: 4px;
        .summoner-name{
            background: darkgray;
            width: 100px;
            height: 10px;
        }
        .summoner-detail{
            background: lightgray;
            width: 200px;
            height: 40px;
        }
    }
}