<div
  class="summoner-info"
  fxLayout="column"
  fxLayoutGap="5px"
  [style.alignItems]="(blueTeam) ? 'flex-start': 'flex-end'">
  <div 
    [fxLayout]="(blueTeam) ? 'row': 'row-reverse'" 
    fxLayoutGap="20px"
    fxLayoutAlign="start center">
    <div class="summoner-name">
        <!-- TODO: add actual data here, when ready  -->
    </div>
    <div 
      class="runes-build-click"
      fxLayout="column"
      [fxLayoutAlign]="(blueTeam) ? 'default default': 'default end'">
      <span 
        class="choice"
        (click)="openRunes()">
        RUNES
      </span>
      <span 
        class="choice"
        (click)="openLastBuild()">
        LAST BUILD
      </span>
    </div>
  </div>
  <div
    class="summoner-detail"
    fxLayout="row">
    <!-- TODO: add actual data here, when ready -->
  </div>
</div>