
:host{
    .summoner-info{
        padding: 4px;
        .runes-build-click{
            font-size: 8px;
            .choice{
                cursor: pointer;
            }
            .choice:hover{
                color: white;
                text-decoration: underline;
            }
        }
        .summoner-name{
            background: darkgray;
            width: 100px;
            height: 10px;
        }
        .summoner-detail{
            background: lightgray;
            width: 200px;
            height: 40px;
        }
    }
}