
:host{
    mat-toolbar{
        z-index: 2;
        position: relative;
        mat-toolbar-row{
            display: flex;
            .logo{
                height: 100%;
            }
            .search-bar{
                border-radius: 10px;
                border: none;
                height: 30px;
                font-size: 20px;
            }
            .search-bar:focus{
                outline: none;
            }
        }
    }
        
}