
:host{
    .layout-content{
        app-match-display {
            height: max-content;
        }
    }
    .analyst-bar{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
        .pull-bar{
            height: 100vh;
            background: gray;
            color: white;
            border-left: 2px solid black;
            .pull-symbol{
                cursor: ew-resize;
            }
        }
    }
}