
:host{
    div{
        .menu-item{
            padding: 20px;
            cursor: pointer;
        }
        .menu-item:hover{
            color: white;
            background: #673ab7;
        }
    }
}