:host{
    mat-toolbar{
        position: relative;
        z-index: 100;
        mat-toolbar-row{
            max-width: 100%;
            background: black;
            .tool-bar-logo {
                height: 100%;
                background: url("../../../../assets/pororift-logo.png");
                background-size: cover;
                width:240px;
            }
            .tool-bar-search{
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                border: none;
                padding: 10px;
                height: 30px;
                width: 200px;
                margin-right: 20px;
                transition: ease-in-out, width .35s ease-in-out;
            }
            .tool-bar-search:focus{
                width: 400px;
            }
        }

    }
        
        
}