:host {
  .badge-container {
    width: 220px;
    .profile-icon {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      overflow: hidden;
      background-color: darkgrey;
      position: absolute;
      top: -70px;
    }
    .summoner-summary {
      width: 180px;
      height: 350px;
      background-color: grey;
      margin: auto;
    }
  }
}