.last-build-display{
  .last-build-icons{
    .build-icon{
      height: 50px;
      width: 50px;
    }
    .active {
      border: 1px solid red
    }
  }
  .item-description{
    display: block;
    font-size: 12px;
  }
}