:host{
  .rune-display{
    .rune-description{
      font-size: 12px;
    }
    .rune-icons{
      span{
        .rune-icon {
          height: 50px;
          width: 50px;
        }
        .active {
          border: 1px solid red
        }
      }
    }
  }
}