<div 
  class="summoner-tile" 
  fxLayout="row" 
  fxLayoutGap="20px"
  fxLayoutAlign="start center">
  <img 
    class="summoner-champion-icon" 
    [src]="summonerInfo.championIcon" />
  <div 
    class="summoner-spells" 
    fxLayout="column"
    fxLayoutGap="5px">
    <img 
      class="summoner-spell" 
      [src]="summonerInfo.firstSpellIcon.url"
      [alt]="summonerInfo.firstSpellIcon.alt">
      <img 
      class="summoner-spell" 
      [src]="summonerInfo.secondSpellIcon.url"
      [alt]="summonerInfo.secondSpellIcon.alt">
  </div>
  <div 
    class="summoner-info"
    fxLayout="column">
    <div class="summoner-name">
      {{summonerInfo.summonerName}}
    </div>
    <div 
      class="summoner-detail" 
      fxLayout="row" fxLayoutGap="20px">
      <div class="summoner-kda-view" fxLayout="row">
        <div class="kda-label">KDA</div>
        <div class="kda">
          {{summonerInfo.summonerKDA.kill}} <b>/</b>
          {{summonerInfo.summonerKDA.death}} <b>/</b> 
          {{summonerInfo.summonerKDA.assist}}
        </div>
      </div>
      <div class="summoner-ranking">
        Gold 1
      </div>
    </div>
  </div>
</div>