:host{
  .analyst-drawer-layout{
    height: 100vh;
    background: white;
    .analyst-content{
      padding: 8px;
      width: 500px !important;
      height: max-content;
      overflow: hidden;
      overflow-wrap: unset;
    }
  }
}