:host{
    .analyst-drawer-layout{
        height: 100vh;
        background: white;
        .analyst-content{
            width: 500px !important;
            border: 1px solid black;
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;
            overflow-wrap: unset;
        }
    }
        
}