:host{
  .rune-display{
    margin-bottom: 8px;
    .rune-description{
      width: 100px;
      height: 100px;
      background-color: #cccccc;
    }
    .rune-icons{
      padding: 5px;
      span{
        .rune-icon {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
}